# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Bundler / Build / Cache
node_modules
dist
dist-ssr
.vite
.next
.turbo
build
out
.cache

# Static files
frontend.zip

# Environment variables
# .env
.env*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Misc
*.tsbuildinfo
